<h1>Hello {{ user.fullName || user.email }}</h1>
<p>
  You requested a password reset. Click the link below to set a new password:
</p>
<p>
  <a href="http://localhost:3000/reset-password?token={{ token }}">Reset Password</a>
</p>
