<h1>Welcome {{ user.fullName || user.email }}!</h1>
<p>
  Please verify your email address by clicking the link below:
</p>
<p>
  <a href="http://localhost:3000/verify-email?token={{ token }}">Verify Email</a>
</p>
